# Enviornment Variables
.env

# Local .terraform directories
**/.terraform/*

# .tfstate files
*tfstate*

# Terraform variables
*tfvars*

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# default ssh keypair
my-keypair*

*.csr 
*.pem
kubernetes-csr*